/*------General------*/
* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    z-index: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

/*------Splash Screen------*/
.display-none {
    opacity: 0;
    display: none;
    z-index: -10;
}

.splash-screen {
    text-align: center;
    position: absolute;
    color: black;
    width: 100%;
    font-weight: 300;
    font-size: 35px;
    padding-top: 40vh;
    height: 100vh;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    animation: splash-screen__background-animation 5s;
}

@keyframes splash-screen__background-animation {
    0% {
        background: #dbdcdd;
    }

    80% {
        background: #dbdcdd;
    }

    100% {
        background: #1e3f6c;
    }
}

.fade-in-down {
    animation: fade-in-down;
    animation-duration: 1s;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.splash-screen>div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.splash-screen__first {
    animation: showup 5s;
}

.splash-screen__second {
    width: 0;
    animation: reveal 5s;
}

.splash-screen__second span {
    margin-left: -375px;
    animation: slidein 5s;
}

.gradient-text {
    background: linear-gradient(#1e3f6a, #2c7bca);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    30% {
        margin-left: -800px;
    }

    45% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    30% {
        opacity: 1;
        width: 0px;
    }

    40% {
        width: 375px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 375px;
    }
}

@media screen and (max-width: 1000px) {
    .splash-screen__first {
        display: block;
        width: 100%;
    }

}

/*------Navigation bar------*/
.navbar {
    position: fixed;
    transition: 0.7s;
    z-index: 10;
    overflow-x: hidden;
    min-width: 100%;
}

.navbar__logo,
.nav-link {
    padding: 10px 15px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar__logo {
    margin: 0;
}


.fa-solid {
    padding: 10px 15px;
    font-size: 1.5rem;
    color: white;
}

@media screen and (min-width: 1000px) {
    .ham-menu__icon {
        display: none;
    }
}

.nav-bar__animation {
    background-color: white;
    transition: .5s all ease;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-property: height, visibility;
    transition-duration: .5s;
    transition-timing-function: ease;
}

/*------Home------*/
.home-context {
    width: 50%;
    position: absolute;
    top: 40vh;
    left: 4%
}

.home-context>h1,
h2 {
    text-align: left;
    color: #fff;
}

.home-context>h1 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 4.5rem;
}

.home-context>h2 {
    font-weight: 100;
    font-size: 3.5rem;
}


@media screen and (max-width: 1000px) {
    .home-context>h2 {
        font-size: 1.5rem;
    }

    .home-context>h1 {
        font-size: 2.5rem;
    }

}

.home-background {
    background: #1e3f6c;
    width: 100%;
    height: 100vh;

}

/*-------------------------------------------------------------*/
.icon__container {
    height: 25rem;
    width: 40rem;
    right: 4%;
    top: 27%;
    position: absolute;
}

.head {
    background-color: #1e3f6a;
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 2.5rem 2.5rem 5rem 5rem;
    box-shadow: inset -1.25rem -1.25rem 0 #041f3b;
    border: 1px solid white;
    z-index: 2;
}

.head:before,
.head:after {
    content: '';
    position: absolute;
    background-color: #f7f8f9;
    height: 2.5rem;
    width: 1.255rem;
    top: 3.75rem;
    left: 2.5rem;
    border-radius: 100%;
}

.head:after {
    left: 7.5rem;

}

.headphone__earcup {
    position: absolute;
    background-color: #2d5d8d;
    width: 20px;
    height: 70px;
    top: 4rem;
    border-radius: 100px / 90px;
    border: 1px solid white;
    z-index: 2;
}

.headphone__earcup--right {
    right: -1.2rem;
}

.headphone__earcup--left {
    right: 12.438rem;
}

.headphone__headband {
    background-color: #2d5d8d;
    width: 14rem;
    height: 10rem;
    position: absolute;
    right: -0.7rem;
    top: -1.5rem;
    border-radius: 30%;
    border: 1px solid white;
    z-index: 1;
}

.body {
    position: absolute;
    background-color: #2d5d8d;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 2.5rem;
    right: 0px;
    top: 13rem;
    box-shadow: inset -1.25rem -1.25rem 0 #041f3b;
    border: 1px solid white;
}

.body:before {
    position: absolute;
    content: '';
    background-color: #1e3f6a;
    width: 3.75rem;
    height: 5rem;
    border-radius: 1.25rem;
    left: 4.5rem;
    top: -2.5rem;
    border: 1px solid white;
}

.hand1,
.hand2 {
    background-color: #1e3f6a;
    width: 8.75rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    position: absolute;
    right: 2.5rem;
    top: 4.5rem;
    border: 1px solid white;
}

.hand1:before,
.hand2:before {
    content: '';
    position: absolute;
    background-color: #1e3f6a;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1rem;
    top: 1.25rem;
    border: 1px solid white;
}

.hand2 {
    right: 11.5rem;
    width: 3.75rem;
    animation: typing 0.4s ease-in-out infinite alternate;
}

.hand1 {
    animation: typing 0.4s 0.4s ease-in-out infinite alternate;
}

@keyframes typing {
    from {
        transform: translate(-5px);
    }

    to {
        transform: translateY(5px);
    }
}

.computer {
    background-color: #2d5d8d;
    width: 20rem;
    height: 15rem;
    border-radius: 1.25rem;
    position: absolute;
    top: 7.5rem;
    right: 17rem;
    border: 1px solid white;
    z-index: 3;
}

.computer__shadow {
    background-color: #041f3b;
    width: 20rem;
    height: 14.98rem;
    border-radius: 1.25rem;
    position: absolute;
    top: 7.5rem;
    right: 15.75rem;
    z-index: 2;
}

.computer:before {
    content: '';
    position: absolute;
    background-color: #041f3b;
    height: 1.25rem;
    width: 8.5rem;
    bottom: 0;
    right: -8.75rem;
    border-bottom-right-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    z-index: 1;
}

.computer:after {
    content: '<  />';
    position: absolute;
    color: white;
    font-size: 2rem;
    left: 40%;
    top: 40%;
}

@media screen and (max-width: 405px) {
    .icon__container {
        transform: scale(0.4);
        width: 100%;
        align-self: center;
        left: 10%;
        top: 10%;
    }

    .home-context {
        top: calc(40% + 10%);
    }
}

@media screen and (min-width: 406px) and (max-width: 550px) {
    .icon__container {
        transform: scale(0.5);
        width: 100%;
        align-self: center;
        left: 8%;
        top: 10%;
    }

    .home-context {
        top: calc(40% + 10%);
    }
}

@media screen and (min-width: 551px) and (max-width: 600px) {
    .icon__container {
        transform: scale(0.5);
        width: 100%;
        align-self: center;
        top: 10%;
        left: 6%;
    }

    .home-context {
        top: calc(40% + 10%);
    }

}

@media screen and (min-width: 601px) and (max-width: 700px) {
    .icon__container {
        transform: scale(0.5);
        width: 100%;
        align-self: center;
        left: 0;
        top: 10vh;
    }

    .home-context {
        top: calc(40% + 10%);
    }

}

@media screen and (min-width: 701px) and (max-width: 800px) {
    .icon__container {
        transform: scale(0.6);
        width: 100%;
        align-self: center;
        left: -5%;
        top: 10vh;
    }

    .home-context {
        top: 55%;
    }

    .home-context>h2 {
        font-size: 2.5rem;
    }

    .home-context>h1 {
        font-size: 3.5rem;
    }

}

@media screen and (min-width: 801px) and (max-width: 900px) {
    .icon__container {
        transform: scale(0.6);
        width: 100%;
        align-self: center;
        left: -7%;
        top: 10vh;
    }

    .home-context {
        top: 55%;
    }

    .home-context>h2 {
        font-size: 2.5rem;
    }

    .home-context>h1 {
        font-size: 3.5rem;
    }

}

@media screen and (min-width: 901px) and (max-width: 1000px) {
    .icon__container {
        transform: scale(0.7);
        width: 100%;
        align-self: center;
        left: -10%;
        top: 10vh;
    }

    .home-context {
        top: 57%;
    }

    .home-context>h2 {
        font-size: 2.5rem;
    }

    .home-context>h1 {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 1000px) {
    .home-context {
        width: 90%;
        left: 5%;
    }

    .home-context>h1,
    h2 {
        text-align: center;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1400px) {
    .icon__container {
        transform: scale(0.8);
        right: 0;
    }

    .home-context {
        width: 45%;
    }

    .home-context>h2 {
        font-size: 2.5rem;
    }

    .home-context>h1 {
        font-size: 3.5rem;
    }
}

/*-------------------------------------------------------------------------*/


.fa-angle-down {
    color: white;
    font-size: 32px;
}

.bounce {
    animation: bounce 0.8s infinite ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/*------Body------*/
.body-width {
    width: 70%;
    margin-left: 15%;
}

/*------Heading------*/
/*Sub heading*/
#education-and-experience,
#skills-and-tools,
#projects,
#contact {
    padding: 6em;
    scroll-margin-top: 5vh;
}

@media screen and (max-width: 1000px) {
    #education-and-experience {
        padding: 3.5em;
    }

    #projects {
        padding: 3.5em;
    }

    .body-width {
        width: 90%;
        margin-left: 5%;
    }

}

.sub-heading {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #000000;
    font-weight: 700;
}

.sub-heading::after {
    align-content: center;
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #1e3f6a;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-bottom: 1em;
}

@media screen and (max-width: 1000px) {
    .sub-heading {
        font-size: 2.5rem;
    }

}

/*Footer heading*/
.footer__sub-heading {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: 700;
    color: #FFFFFF;
}

.footer__sub-heading::after {
    align-content: center;
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-bottom: 1em;
    background: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    .footer__sub-heading {
        font-size: 2.5rem;
    }

}


/*------Education & Experience------*/
/*Title*/
.title__education--desktop,
.title__experience--desktop {
    width: 50%;
    text-align: center;
    font-size: 3.5rem;
    opacity: 0.5;
}

.title__experience--mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .row {
        display: block;
    }

    .title__education--desktop {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }

    .title__experience--desktop {
        display: none;
    }

    .title__experience--mobile {
        display: block;
        width: 100%;
        font-size: 2.5rem;
        opacity: 0.5;
        text-align: center;
        padding: 2rem;
    }


}

/*Structure*/
.education__row {
    display: flex;
}

.experience__mobile {
    display: none;
}

.left {
    margin-right: 2rem;
}

.right {
    margin-left: 2rem;
}

/*Card*/
.card-body,
h5,
h6 {
    font-size: 1.25rem;
}

.card-title {
    font-weight: 600;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    border: 1px solid #dbdcdd;
    width: 50%;
}

/*List design*/
.education__desktop {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    position: relative;
}

.education__desktop>* {
    font-size: 1.25rem;
}

.education__desktop:before {
    content: "";
    display: inline-block;
    width: 2px;
    background: #1e3f6c;
    position: absolute;
    left: 3px;
    top: 5px;
    height: calc(100% - 10px);
}

.education__desktop>li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1.5em;
}

.education__desktop>li:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1e3f6c;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 10px;
}

.experience__desktop--list {
    list-style: none;
    padding: 0;
    position: relative;
    margin-left: 8px;
    visibility: hidden;
}

.experience__desktop--list:before {
    content: "";
    display: inline-block;
    width: 2px;
    background: #1e3f6c;
    position: absolute;
    left: 3px;
    top: 5px;
    height: calc(100% - 10px);
}

.experience__desktop--list>li {
    position: relative;
    margin-bottom: 15px;
}

.experience__desktop--list>li:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1e3f6c;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 10px;
}

.list {
    list-style-type: disc;
}

@media screen and (max-width: 1000px) {
    .left {
        margin-right: 0;
        width: 100%;
    }

    .education__row {
        display: block;
    }

    .education__desktop>li {
        padding-left: 0;
    }

    .education__desktop:before {
        display: none;
    }

    .education__desktop>li:before {
        display: none;
    }

    .experience__desktop--list:before {
        display: none;
    }

    .experience__desktop--list>li {
        display: none;
    }

    .experience__desktop--list>li:before {
        display: none;
    }

    .experience__desktop {
        display: none;
    }

    .experience__mobile {
        display: block;
        width: 100%;
    }

    .card-text {
        font-size: 1rem;
    }

    .list {
        font-size: 1rem;
    }
}

/*Animation*/
.education__animation--left-to-right {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.education__animation--left-to-right.education__animation--active-left-to-right,
.experience__animation--right-to-left.experience__animation--active-right-to-left {
    transform: translateX(0);
    opacity: 1;
}


.experience__animation--right-to-left {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}

.revealRight.activeRight {
    transform: translateX(0);
    opacity: 1;
}

/*------Skills and tools------*/
.skills-and-tools__container {
    text-align: center;
    font-size: 0.7rem;
}

.skills-and-tools__container--grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    display: grid;
    list-style: none;
    padding-left: 0;
}

.skills-and-tools__container--grid li p {
    margin-top: 5px;
    margin-bottom: 0;
}

.skills-and-tools__container--grid li img {
    width: 35px;
    height: 35px;
}

.skills-and-tools__container--grid li i {
    width: 35px;
    height: 35px;
}

.skills-and-tools__container--grid li {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    box-shadow: 0px 4px 8px rgb(134 151 168 / 20%);
    /*border: 1px solid rgba(0, 0, 0, 0.175);*/
    /*border: 1px solid #ECECEC;*/
    border: 1px solid #dbdcdd;
    margin: 0;
    font-size: 100%;
}

.skills-and-tools__container--grid li:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

/*------Projects------*/
.projects__content-over-image {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0;
    visibility: none;
    transition: ease 0.5s;
    padding: 0 2.5em;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;

}

.card:hover .projects__content-over-image {
    opacity: 1;
    border-radius: 15px;
}

.card-img:hover {
    opacity: 0.3;
    border-radius: 15px;
}

.projects__content-over-image--title {
    font-size: 3.5rem;
    margin-top: 15%
}

.projects__content-over-image--description {
    font-size: 1.25rem;
}

.projects__content-over-image--language-used {
    padding: 0;
    align-items: center;
    align-content: center;
}

.projects__content-over-image--language-used>li {
    display: inline-block;
    border: 1px;
    padding: 8px;
    border-radius: 8px;
    background-color: #dbdcdd;
    color: black;
}

.btn {
    background-color: #5695d5;
    color: white;
    font-size: 1.25rem;
    transition: ease 0.5s;

}

.btn:hover {
    background-color: #2c7bca;

}

@media screen and (max-width: 1000px) {
    .projects__content-over-image--title {
        font-size: 1.5rem;
        margin-top: 5%;
        margin-bottom: 8px;
    }

    .projects__content-over-image--description {
        font-size: 1rem;
    }

    .btn {
        font-size: .75rem;
    }

    .projects__content-over-image {
        padding: 0;
    }

    .projects__content-over-image--language-used>li {
        font-size: .75rem;
    }
}

/*Footer*/
.footer {
    height: 70vh;
    background-color: #1e3f6c;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .footer>p {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 500px) {
    .footer {
        height: 100vh;
    }

}

.footer>p {

    font-size: 2rem;
    color: white;
}

.FooterSubHeading {
    color: #FFFFFF;
}

.FooterSubHeading::after {
    background: #FFFFFF;
}

.developed-by {
    font-size: 1.5rem;
    color: white;
}

@media screen and (max-width: 1000px) {
    .developed-by {
        font-size: 1.25rem;
    }

    .footer__quote {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0;

    }

}

.footer__quote {
    text-align: center;
}

/*Social List*/
.socialList {
    position: relative;
    display: flex;
    gap: 1em;
    padding-left: 0;
}

.socialList li {
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.socialList li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.socialList li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    transition: 0.5s;
}

.socialListli:hover::before {
    opacity: 1;
}

.socialList li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}

.socialList li:hover::after {
    opacity: 0.5;
}

.socialList li i {
    color: rgb(108, 108, 108);
    font-size: 1.5em;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.socialList li:hover i {
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

.socialList li span {
    position: absolute;
}

.socialList li .titulo {
    color: black;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0;
}

.socialList li:hover .titulo {
    transform: scale(1);
    transition-delay: 0.25s;
}
